#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(218, 218, 218);
    overflow-y: auto;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    width: 50%;
    height: 90vh;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
}